<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>General</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Legal</string>
			<key>File</key>
			<string>Legal</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Security</string>
			<key>FooterText</key>
			<string>security_footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Erase data</string>
			<key>Key</key>
			<string>erase_data_setting</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>about</string>
			<key>FooterText</key>
			<string>Build with ❤️‍🔥 in Stuttgart</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>build_version_setting</string>
			<key>Title</key>
			<string>build</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>app_version_setting</string>
			<key>Title</key>
			<string>app version</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
